<header class="header">
    <!-- 左側：サークル名＋ロゴ -->
    <div class="site-logo">
        <a href="index.html">
            <div class="site-logo-text">
                <small>茨城大学</small>
                <span>航空技術研究会</span>
            </div>
                <img src="images/logo.png" alt="航空技術研究会 ロゴ">
        </a>
    </div>


    <!-- 右側 -->
    <div class="header-right">

        <!-- 上段メニュー -->
        <nav class="upper-menu">
            <ul>

                <li>
                    <a class="faq-link" href="faq.html">
                        よくある質問
                    </a>
                </li>

                <li>
                    <a class="contact-button" href="contact.html">
                        お問い合わせ
                    </a>
                </li>

                <li>
                    <form class="search" action="search.html" method="get">
                        <input type="text"
                               name="q"
                               placeholder="検索">

                        <button type="submit" aria-label="検索">
                            <span class="search-icon"></span>
                        </button>
                    </form>
                </li>

                <li>
                    <a href="trial.html" class="trial-button">
                        茨苑祭/こうがく祭はこちら
                    </a>
                </li>

                <li>
                    <a href="meeting.html" class="meeting-button" aria-label="ミーティング">
                        M
                    </a>
                </li>

            </ul>
        </nav>


        <!-- 下段メニュー -->
        <nav class="main-menu">
            <ul>

                <li>
                    <a href="activity.html">活動内容</a>
                </li>

                <li>
                    <a href="index.html#schedule">活動予定</a>
                </li>

                <li>
                    <a href="member.html">メンバー</a>
                </li>

                <li>
                    <a href="blog.html">ブログ</a>
                </li>

                <li>
                    <a href="join.html">入会希望の方</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- スマホ用メニューボタン -->
    <div class="mobile-header-contact">

        <a href="contact.html">
            お問い合わせ
        </a>

    </div>
    <button class="menu-button"
            type="button"
            aria-label="メニューを開く">

        <span></span>
        <span></span>
        <span></span>

    </button>


    <!-- スマホ用メニュー -->
    <nav class="mobile-menu">

        <a href="activity.html">活動内容</a>
        <a href="member.html">メンバー</a>
        <a href="blog.html">ブログ</a>
        <a href="index.html#schedule">サークル活動予定</a>
        <a href="trial.html">茨苑祭・こうがく祭 特設ページ</a>
        <a href="join.html">入会希望の方へ</a>
        <a href="faq.html">よくある質問</a>

    </nav>

</header>